body {
    font-size: 0.9rem;
    background: url("../img/ba.jpg") fixed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: gabriela-regular;
}

h1 {
    font-size: 1.9rem;
    margin: 0;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.3rem;
}

body > main {
    background: rgba(255, 255, 255, .7);
}

h1 a:hover {
    text-decoration: none;
}

.site > footer {
    background: rgba(255, 255, 255, .8);
    margin: auto -15px  ;
    padding: 1rem 1rem 0 1rem;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
    margin: 5rem 0 0 0;
}

.site-content .navbar {
    background: rgba(255, 255, 255, .8);
}

p.category {
    margin-bottom: 0;
}

section.category{
    margin-bottom: 2rem;
}

aside {
    margin-bottom: 1rem;
}

#sidebar {
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    margin: -1.5rem 0 0 -1rem;
    padding: 1rem;
}

article.gift {
    position: relative;
}

article.gift.offered footer {
    top: -1px;
    right: 20px;
    height: calc(100% + 2px);
    border-radius: unset;
    position: absolute;
    writing-mode: vertical-rl;
    padding: 1.25rem 0.5rem;
    background-color: rgba(251, 244, 183, .8);
    border: 1px solid #f7cb1f;
}

@media (min-width: 768px) {
    aside.col-md-3 {
        position: fixed;
        right: 0;
    }
}
